<mat-toolbar color="primary" class="toolbar">
    <div class="left-section">
    <span>Keep</span>
    <span class="example-spacer"></span>
</div>
    <div class="right-section">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with refresh icon">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with starred icon">
          <mat-icon>starred</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with settings icon">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with user icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
</mat-toolbar> 
